{% extends "../layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="/admin/plugins/toastr/toastr.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock style %}

{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Usuários</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/seti/users/index">Usuários</a>
                        </li>
                        <li class="breadcrumb-item active">Ver Usuários</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="table" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-user"></i>
                                            Nome</th>
                                        <th>
                                            <i class="fa fa-envelope"></i>
                                            Email</th>
                                        <th>
                                            <i class="fa fa-edit">
                                                Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td>{{user.name}}</td>
                                                <td>{{user.email}}
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        {% if session.userType == "admin" or session.userId == user.id %}
                                                            <a class="mr-1" href="/seti/users/{{user.id}}/edit">
                                                                <button class="btn btn-primary btn-xs">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </button>
                                                            </a>
                                                            <form class="formDelete" method="POST" action="/seti/users/index?_method=DELETE">
                                                                <input type="hidden" name="id" value="{{user.id}}">
                                                                <button class="btn btn-danger btn-xs" type="submit">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                            </form>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock content %}

{% block footerScript %}
    <script src="/admin/plugins/toastr/toastr.min.js"></script>
    <script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#table").DataTable({"responsive": true, "autoWidth": false});
        });
    </script>
    {% include "../layoutParts/messages.njk"%}
    <script>
        let formDelete = document.querySelectorAll(".formDelete")

        for (let i = 0; i < formDelete.length; i++) {
            formDelete[i].addEventListener("submit", function (event) {
                const confirmar = confirm("Deseja excluir este usuário?")
                if (!confirmar) {
                    event.preventDefault()
                }
            })
        }
    </script>
{% endblock footerScript %}