<link rel="shortcut icon" href="/images/logo_municipio_preto.png"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/seti/css/main.css">
<link rel="stylesheet" href="/seti/css/skin.css">
<link rel="stylesheet" href="/seti/css/messages.css">

<script src="/seti/js/scripts.js"></script>
