<nav class="main-header navbar navbar-toggleable-md navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item d-sm-inline-block">
            <a href="/seti" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-sm-inline-block" style="background-color: #f0f0f0; border-radius: 12px;">
            <strong>
                <a href="/seti/users/logout" class="nav-link">Sair</a>
            </strong>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>
    </ul>
</nav>