.gallery-container{
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}
.tutorial-single {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;

    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, .9);

    border: 1px solid #efefef;
    border-radius: 4px;
}

.tutorial-single .gallery {
    width: 100%;
}

.tutorial-single .highlight > img {
    width: 100%;
    height: 450px;

    
    object-fit: "cover";
    object-position: 50% 50%;
    border: 1px solid #efefef;
    
    cursor: zoom-in;

    display: block;
    max-width: 100%;
    height: 580;
    padding-left: 10px;
    padding-right: 5px;

}

.tutorial-single .gallery-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}

.tutorial-single .gallery-preview img {
    height: 100px;
    width: 80%;

    object-fit: cover;
    
    opacity: 0.6;

    cursor: pointer;
    
    transition: 200ms;

    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 5px;

}

.tutorial-single .gallery-preview img:hover,
.tutorial-single .gallery-preview img.active {
    opacity: 1;
}

/*lightbox tutorial gallery*/

.tutorial-single .highlight .lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);

    overflow: hidden;
    z-index: 100;
   
    top: -100%;
    left: 0;
    opacity: 0;

    transition: opacity 400ms;
}

.tutorial-single .highlight .lightbox-target img {
    margin: auto;
 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);

    width: 90%;
    height: 90%;

    object-fit: contain;
}

.tutorial-single .highlight a.lightbox-close {
    width: 50px;
    height: 50px;

    background: white;

    position: absolute;
    top: -80px;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
}

.tutorial-single .info {
    display: grid;
    grid-template-rows: auto 40px 2fr 1fr;
}

.tutorial-single .info h1 {
    font-size: 32px;
    line-height: 42px;
    color: #333;
    text-transform: uppercase;
}

.tutorial-single .info .published {
    color: #888;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0,4px;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
